<div class="carousel carousel-slider" data-indicators="true">
    <a href="#" class="carousel-item"><img src="/assets/img/carousel/industry-sunrise-clouds-fog-39553.jpeg"></a>
    <a href="#" class="carousel-item"><img src="/assets/img/carousel/paddle-wheel-bucket-wheel-excavators-brown-coal-open-pit-mining.jpg"></a>
    <a href="#" class="carousel-item"><img src="/assets/img/carousel/pexels-photo-29160.jpg"></a>
    <a href="#" class="carousel-item"><img src="/assets/img/carousel/summer-garden-dinner-eating.jpg"></a>
</div>