<br><br>
<section id="delegacao" class="row scrollspy">
    <h2 class="left-align">Delegação de Tete</h2>
    <hr>
    <div class="col s12 l6">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="{{ site.github.url | prepend: site.url }}/assets/img/nhusy.jpg">
                    <h4 class="caption center-align">Presidente de Moçambique</h4>
                </li>
            </ul>
        </div>
    </div>

    <div class="col s12 l6">
        {% include calendar.html %}
    </div>
</section>
