<br><br>
<section class="row">
    <div class="col s12 l4">
        <div class="thumbnail">
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/20065988.jpg" alt="">
            <p class="flow-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta pariatur aperiam enim nemo autem exercitationem labore impedit praesentium! Distinctio repellendus fuga odio tenetur omnis obcaecati, mollitia eius deleniti asperiores.
            </p>
        </div>
    </div>

    <div class="col s12 l4">
        <div class="thumbnail">
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/20065988.jpg" alt="">
            <p class="flow-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta pariatur aperiam enim nemo autem exercitationem labore impedit praesentium! Distinctio repellendus fuga odio tenetur omnis obcaecati, mollitia eius deleniti asperiores.
            </p>
        </div>
    </div>

    <div class="col s12 l4">
        <div class="thumbnail">
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/20065988.jpg" alt="">
            <p class="flow-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dicta pariatur aperiam enim nemo autem exercitationem labore impedit praesentium! Distinctio repellendus fuga odio tenetur omnis obcaecati, mollitia eius deleniti asperiores.
            </p>
        </div>
    </div>
</section>