<br><br>
<section class="section">
    <div class="row">
        <h2 class="center">Natureza - Visão - Missão</h2><hr>

        <article class="col s12 l4 thumbnail">
            <h3 class="center light">Natureza</h3><hr>
            
            <p class="light">
                Ministério dos Recursos Humanos e Energia é um orgão central do Aparelho do Estado que, de acordo com os princípios, objectivos e tarefas definidas pelo Governo, dirige e executa as políticas no âmbito da investigação geológica, inventariação e exploração dos recursos minerais, incluindo o carvão e os hidrocarbonetos, planifica, promove e controla a inventariação e uso dos recursos energéticos e o desenvolvimento e expansão da rede de fornecimento de energia elétrica e gás natural e os produtos petrolíferos.
            </p>
        </article>

        <article class="col s12 l4 thumbnail">
            <h3 class="center light">Visão</h3><hr>
            
            <p class="light">
                Ser líder no desenvolvimento económico, sócial e cultural do país através de uma gestão e exploração sustentável e transparente dos recursos minerais.<br>
                Ser uma entidade governamental impulsionadora, e provedora de políticas de recursos energéticos, proporcionando a modernização e a profissionalização dos serviços e servidores do sector com vista a impulsionar o desenvolvimento económico, integrado, equilibrado e sustentável do País.
            </p>
        </article>

        <article class="col s12 l4 thumbnail">
            <h3 class="center light">Missão</h3><hr>
            
            <p class="light">
                Garantir a adopção e implementação de políticas e normas que assegurem o uso racional e aproveitamento de recursos minerais para a criação da riqueza e desenvolvimento harmonioso do País. <br>
                Garantir a elaboração e operacionalização das políticas do sector através das comunidades, sociedade civil e o sector privado com vista a proporcionar um ambiente favorável ao aumento de acesso às diversas formas de Energia (Convencional e Renováveis), contribuindo para o desenvolvimento económico e social do País, bem como para a melhoria do nível de vida dos cidadãos.
            </p>
        </article>
    </div>

    <div class="row">
        <h2 class="center">Valores</h2><hr>
        
        <artticle class="col s12">
            <p class="light">
                Excelência, Profissionalismo, Meritocracia, Urbanidade, Transparência, Imparcialidade, Integridade, Responsabilidade, Celeridade Bem-servir, Modernização e Sustentabilidade.
            </p>
        </artticle>
    </div>
</section>