<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                Localização
            </div>
            <div class="col s12 l4">
                redes socia
            </div>
            <div class="col s12 l4">
                Quem Somos
            </div>
        </div>
    </div>

    <div class="footer copyright">
        <div class="container">
            <div class="left-align">{{ site.title}} - {{ site.description }}</div>
            <div class="right-align">&copy;2K16 Powered by <a href="https://izitag.github.io" target="_blank" title="IZItag">IZItag</a></div>
        </div>
    </div>
</footer>