<footer id="footer" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l4">
                <p>Localize-nos</p><hr>
                <p class="light">
                    Av. da Liberdade <br>
                    Bairro Filipe Samuel Magaia <br>
                    Ex Edifício da GPZ, 6º Piso <br>
                    Tete - Moçambique
                </p>
            </div>
            <div class="col s12 l4">
                <p>Conecte-te a nós</p><hr>
                {% include social-contacts.html %}
                <p class="light">Telefax: +258-252-24020 CP. 16 - Tete</p>
            </div>
            <div class="col s12 l4">
                <p>Quem Somos</p><hr>
                <p class="light">{{ site.description }}</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <span class="col s8">{{ site.title}} - {{ site.description }}</span>
                <span class="col s4">&copy;2K16 Powered by <a href="https://izitag.github.io" target="_blank" title="IZItag">IZItag</a></span>
            </div>
        </div>
    </div>
</footer>