<header class="slider">
    <ul class="slides">
        <li>
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/carousel/industry-sunrise-clouds-fog-39553.jpeg">
        </li>
        <li>
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/carousel/paddle-wheel-bucket-wheel-excavators-brown-coal-open-pit-mining.jpg">
        </li>
        <li>
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/carousel/pexels-photo-29160.jpg">
        </li>
        <li>
            <img src="{{ site.github.url | prepend: site.url }}/assets/img/carousel/summer-garden-dinner-eating.jpg">
        </li>
    </ul>
</header>