<input type="hidden" name="redirect" value="{{ site.github.url | prepend: site.url }}/">
<input type="hidden" name="recipient" value="{{ site.email }}">
<input type="hidden" name="required" value="recipient,email,name,surname,data,subject,message,cv">
<input type="hidden" name="sort" value="order:recipient,email,name,surname,data,subject,message,cv">
<input type="hidden" name="subject" value="Cadastro e Candidatura a vagas">
<input type="hidden" name="data" value="data">
<input type="hidden" name="cv" value="Curriculum Vitae">