<nav class="nav-wrapper">
    <div class="container">
        <a href="{{ site.github.url | prepend: site.url }}/" class="brand-logo center">{{ site.title }}</a>
        <a href="#" class="button-collapse" data-activates="sidenav"><i class="fa fa-navicon"></i></a>

        <ul class="left hide-on-med-and-down">
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/#servicos" title="Serviços">Serviços</a>
            </li>
            <li>
                <a href="{{ site.github.url | prepend: site.url }}/delegacao" title="Delegação">Delegação</a>
            </li>
        </ul>

        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#" title="Quem Somos" data-activates="acerca" class="dropdown-button"><i class="fa fa-chevron-down"></i> Quem Somos</a>
                <ul id="acerca" class="dropdown-content">
                    <li>
                        <a href="#" title="Sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="#" title="Carta de Serviço">Carta de Serviço</a>
                    </li>
                </ul>
            </li>
        </ul>

        {% include sidenav.html %}
    </div>
</nav>