<section id="servicos" class="section scrollspy">
    <div class="row">
        <h2 class="center">Serviços Essências</h2><hr>
        <ul class="fa-ul cols 12">
            <li class="fa-li fa fa-check-square">Senha Mineira</li>
            <li class="fa-li fa fa-check-square">Certificado Mineiro</li>
            <li class="fa-li fa fa-check-square">As lincenças de prospecção e pesquisa, Tratamento e Processamento Mineiro e Licença de cormecialização de Produtos Minerais bem como Autorizações, compete ao Ministério dos Recursos Minerais</li>
            <li class="fa-li fa fa-check-square">Prévio Licenciamento para o Estabelecimento de instalações de 4ª a 8ª Categorias</li>
            <li class="fa-li fa fa-check-square">Licenciamento de pessoas colectivas (Empresas), responsáveis pela elaboração, direcção, execução e exploração de projectos elétricos.</li>
            <li class="fa-li fa fa-check-square">Licenciamento de pessoas singulares, técnicos responsáveis pela elaboração, direcção, execução e exploração de projectos eléctricos.</li>
            <li class="fa-li fa fa-check-square">Licenciamento de instalações/actividades de produção (refinação) de petróleo bruto</li>
            <li class="fa-li fa fa-check-square">Licenciamento de redes privativas de gás natural</li>
            <li class="fa-li fa fa-check-square">Licenciamento de empresas montadoras e instalações de redes de distribuição de Gás Natural</li>
        </ul>
    </div>
</section>