<section id="servicos" class="section scrollspy">
    <div class="row">
        <h2 class="center">Serviços Essências</h2><hr>
        <p>
            <ul class="cols 12">
                <li>Senha Mineira</li>
                <li>Certificado Mineiro</li>
                <li>As lincenças de prospecção e pesquisa, Tratamento e Processamento Mineiro e Licença de cormecialização de Produtos Minerais bem como Autorizações, compete ao Ministério dos Recursos Minerais</li>
                <li>Prévio Licenciamento para o Estabelecimento de instalações de 4ª a 8ª Categorias</li>
                <li>Licenciamento de pessoas colectivas (Empresas), responsáveis pela elaboração, direcção, execução e exploração de projectos elétricos.</li>
                <li>Licenciamento de pessoas singulares, técnicos responsáveis pela elaboração, direcção, execução e exploração de projectos eléctricos.</li>
                <li>Licenciamento de instalações/actividades de produção (refinação) de petróleo bruto</li>
                <li>Licenciamento de redes privativas de gás natural</li>
                <li>Licenciamento de empresas montadoras e instalações de redes de distribuição de Gás Natural</li>
            </ul>
        </p>
    </div>
</section>