<ul id="sidenav" class="side-nav">
    <li>
        <a href="{{ site.github.url | prepend: site.url }}/">DPRME</a>
    </li>
    <li>
        <a href="#" title="Serviços">Serviços</a>
    </li>
    <li>
        <a href="#" title="Delegação">Delegação</a>
    </li>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fa fa-chevron-down"></i> Quem Somos</div>
            <div class="collapsible-body">
                <a href="#" title="Sobre">Sobre</a>
                <a href="#" title="Carta de Serviço">Carta de Serviço</a>            
            </div>
        </li>
    </ul>
</ul>