<section id="sobre" class="modal">
    <article class="modal-content">
        {% include page-header.html %}

        <p class="flow-text">
            A DIPREME é uma instituição criada para lincenciamento e gerenciamento dos Recursos Minerais e Energia respondendo ao Governo de Moçambique.
        </p>
        <p class="flow-text">
            <strong>Formas de Atendimento:</strong> <em>Imparcialidade, Igualdade, Proporcionalidade, Transparência e a Prossecussão do interesse público, Responsábilidade, Profissionalismo, Celeridade e bem-servir.</em>
        </p>
        <p class="flow-text">
            <strong>Horário de Funcionamento:</strong> <em>De Segunda à Sexta-feira: </em> <time datetime="07:30">07:30</time> - <time datetime="15:30">15:30</time>
        </p>
        <p class="flow-text">
            <strong>Funcionamento: </strong> <em>De Segunda à Sexta-feira: </em> <time datetime="08:00">08:00</time> - <time datetime="15:00">15:00</time>
        </p>
    </article>
</section>