<ul class="inline-list">
    <li>
        <a href="http://facebook.com/{{ site.facebook }}" class="btn-flat"><i class="fa fa-lg fa-facebook"></i></a>
    </li>
    <li>
        <a href="http://linkedin.com/{{ site.linkedin }}" class="btn-flat"><i class="fa fa-lg fa-linkedin"></i></a>
    </li>
    <li>
        <a href="http://plus.google.com/{{ site.google }}" class="btn-flat"><i class="fa fa-lg fa-google-plus"></i></a>
    </li>
    <li>
        <a href="http://mailto:{{ site.email | encode_emai }}" class="btn-flat"><i class="fa fa-lg fa-envelope"></i></a>
    </li>
</ul>