<!DOCTYPE html>
<html lang="pt" manifest="{{ site.github.url }}/manifest.appcache" class="no-js">
    {% include head.html %}
    <body onload="myFunction()">
        {% include navbar.html %}
        {% include sobre.html %}

        <div id="loader">
            <i class="fa fa-spin fa-5x fa-refresh"></i><br>
            <span class="sr-only">Carregando...</span>
        </div>

        <main id="content" class="container animate-bottom">
            {{ content }}
        </main>

        {% include footer.html %}

        {% include scripts.html %}